.button_place_booking-form {
  margin: 0;
  padding: 20px;
  grid-column-start: 1;
  grid-column-end: 3;
  width: auto;
  height: auto;
}

@media (max-width: 820px) {
  .button_place_booking-form {
    padding: 5px;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

@media (max-width: 650px) {
  .button_place_booking-form {
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (max-width: 480px) {
  .button_place_booking-form {
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}