.home__links-container {
  margin: 0 0 50px 0;
  padding: 41px 0;
  width: 41.6%;
  display: flex;
}

@media (max-width: 700px) {
  .home__links-container {
    flex-direction: column;
    width: auto;
  }
}
