.footer__text {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  opacity: .5;
}

@media (max-width: 600px) {
  .footer__text {
    font-size: 8px;
  }
}