.section_name_private-events {
  height: auto;
  background-color: rgb(53, 45, 45);
  background-image: url(../../../images/events_bg.png);
  background-size: cover;
  background-position: center;
  padding: 100px 205px 100px 205px;
}

@media (max-width: 1400px) {
  .section_name_private-events {
    padding: 100px;
    justify-content: space-around;
  }
}

@media (max-width: 1200px) {
  .section_name_private-events {
    padding: 100px 50px;
  }
}

@media (max-width: 950px) {
  .section_name_private-events {
    padding: 80px 30px 50px;
  }
}

@media (max-width: 800px) {
  .section_name_private-events {
    padding: 80px 0 50px;
  }
}

@media (max-width: 650px) {
  .section_name_private-events {
    padding: 80px 30px 50px;
  }
}