.section {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 650px) {
  .section {
    flex-direction: column;
  }
}