.button {
  margin: 0 20px 0 0;
  padding: 0;
  background-color: transparent;
  width: 200px;
  height: 60px;
  border-radius: 5px;
  border: solid 1px rgba(255, 255, 255, .5);
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  color: #fff;
}

.button:last-child {
  margin: 0;
}

@media (max-width: 900px){
  .button{
    width: 150px;
    height: 45px;
  }
}

@media (max-width: 700px){
  .button{
    width: 120px;
    height: 36px;
  }
}